<tr>
  <td>
    <%= button_tag class: "btn btn-default btn-xs determine", "data-id" => landuse.id do %>
    <span class="glyphicon glyphicon-link"></span>
    <% end %>
  </td>
      <td><%= landuse.name %></td>
</tr>
