/* line 2, app/assets/stylesheets/tree_view.css.scss */
.tree-node[data-depth='1'] {
  padding-left: 0px;
}

/* line 2, app/assets/stylesheets/tree_view.css.scss */
.tree-node[data-depth='2'] {
  padding-left: 15px;
}

/* line 2, app/assets/stylesheets/tree_view.css.scss */
.tree-node[data-depth='3'] {
  padding-left: 30px;
}

/* line 2, app/assets/stylesheets/tree_view.css.scss */
.tree-node[data-depth='4'] {
  padding-left: 45px;
}

/* line 2, app/assets/stylesheets/tree_view.css.scss */
.tree-node[data-depth='5'] {
  padding-left: 60px;
}

/* line 2, app/assets/stylesheets/tree_view.css.scss */
.tree-node[data-depth='6'] {
  padding-left: 75px;
}

/* line 2, app/assets/stylesheets/tree_view.css.scss */
.tree-node[data-depth='7'] {
  padding-left: 90px;
}

/* line 2, app/assets/stylesheets/tree_view.css.scss */
.tree-node[data-depth='8'] {
  padding-left: 105px;
}

/* line 2, app/assets/stylesheets/tree_view.css.scss */
.tree-node[data-depth='9'] {
  padding-left: 120px;
}

/* line 2, app/assets/stylesheets/tree_view.css.scss */
.tree-node[data-depth='10'] {
  padding-left: 135px;
}

/* line 8, app/assets/stylesheets/tree_view.css.scss */
.tree-node .bi {
  margin: 0px 5px;
}
