<tr>

  <td>
    <%= button_tag class: "btn btn-secondary btn-sm determine", "data-id" => stonecontainer_type.id do %>
    <%= bi_icon('link') %>
    <% end %>
  </td>
  <td><%= stonecontainer_type.name %></td>
</tr>
