<tr>

  <td>
    <%= button_tag class: "btn btn-default btn-xs determine", "data-id" => stonecontainer_type.id do %>
    <span class="glyphicon glyphicon-link"></span>
    <% end %>
  </td>
  <td><%= stonecontainer_type.name %></td>
</tr>
