<tr>
  <td>
    <%= button_tag class: "btn btn-secondary btn-sm determine", "data-id" => vegetation.id do %>
    <%= bi_icon('link') %>
    <% end %>
  </td>
      <td><%= vegetation.name %></td>
</tr>
