<tr>
  <td>
    <%= button_tag class: "btn btn-default btn-xs determine", "data-id" => vegetation.id do %>
    <span class="glyphicon glyphicon-link"></span>
    <% end %>
  </td>
      <td><%= vegetation.name %></td>
</tr>
