<tr>
  <td>
    <%= button_tag class: "btn btn-default btn-xs determine", "data-id" => topographic_position.id do %>
    <%= bi_icon('link') %>
    <% end %>
  </td>
      <td><%= topographic_position.name %></td>
</tr>
