<tr>

  <td>
    <%= button_tag class: "btn btn-default btn-xs determine", "data-id" => classification.id do %>
    <%= bi_icon('link') %>
    <% end %>
  </td>
  <td><%= classification.full_name %></td>
  <td><%= classification.name %></td>
</tr>
