<tr>

  <td>
    <%= button_tag class: "btn btn-secondary btn-sm determine", "data-id" => physical_form.id do %>
    <%= bi_icon('link') %>
    <% end %>
  </td>
  <td><%= physical_form.name %></td>
</tr>
