/* Bootstrap Icons tag button with CSV background image */
.bi-tag {
	color: #000;
	color: rgba(0,0,0,0);
	width: 24px;
	background: asset-url("csv.png") 0 0  /* Sass-Rails 5.x: removed 'image' parameter */
}