/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.datepicker
 */

.navbar-nav .active {font-weight:bold; text-decoration:underline}
.searchheader {background-color:#d7fef8}
a.newentrybutton {margin-bottom:15px}
.glyphicon-chevron-right {padding: 6px 12px; border-radius: 4px; color:#333333; background-color: white; border-color: #adadad;border: 1px solid #cccccc;}
.glyphicon-chevron-left  {padding: 6px 12px; border-radius: 4px; color:#333333; background-color:  white; border-color: #adadad;border: 1px solid #cccccc;}

.glyphicon-chevron-right:hover {color: #333333; background-color: #ebebeb; border-color: #adadad}
.glyphicon-chevron-left:hover {color: #333333; background-color: #ebebeb; border-color: #adadad} 

table.stagingstable {border: 3px solid black; margin-top:10px}
table.stagingstable tr {border: 1px solid black;}
table.stagingstable tr.firsttr {border-top: 3px solid black;}
table.stagingstable tr td.header {vertical-align: middle;text-align: left}
table.stagingstable tr td {vertical-align: top;padding: 2px; text-align: center; border: 1px dotted grey;}
select {max-width:150px}


fieldset.stonefieldset {border: 1px solid grey; border-radius: 5px;}
fieldset.collectorfieldset {border: 1px solid grey; border-radius: 5px;}
fieldset.stonefieldset legend {background: #eeeeee; border-radius: 5px; margin-left: 20px;padding-left: 15px;padding-right: 15px; width:auto}
fieldset.collectorfieldset legend {background: #eeeeee; border-radius: 5px; margin-left: 20px;padding-left: 15px;padding-right: 15px; width:auto}
fieldset.collectorfieldset a.add_fields {margin-left:10px;padding-bottom:10px}

#newentry u {font-size: 18px}

fieldset.stonefieldset div.form-group {width:200px; float:left; margin: 10px}
fieldset.stonefieldset select {max-width:100%}
fieldset.stonefieldset legend {font-size: 12px;  margin-top: 10px}

fieldset.collectorfieldset div.form-group  {width:200px; float:left; margin-left:10px; margin-right:5px}
fieldset.collectorfieldset legend {font-size: 12px; margin-top: 10px}
div.input-group {max-width: 200px}

fieldset.stonefieldset div.placedescription textarea {width: 100% }
fieldset.stonefieldset div.placedescription {width: 740px; }
div.tool-content fieldset.stonefieldset div.placedescription  {width: 390px; height: 100px}
div.tool-content fieldset.stonefieldset div.place-is-parent-div {display: none}

#infocontent input[type=checkbox] {display:none}
