<div class="alert alert-danger">
<div><%= link_to :back, adjust_url_by_requesting_tab(safe_referer_url) %></div>
<ul>
<% [@stone,@box,@analysis,@place,@bib,@attachment_file,@chemistry,@spot].each do |record| %>
  <% if record %>
    <% record.errors.each do |key,msg| %>
      <li><%= raw(msg) %></li>
    <% end %>
  <% end %>
<% end %>
</ul>
</div>
