<title><%= Settings.site_name %></title>

<!-- Bootstrap Icons (for Bootstrap 3 → 5 migration) -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
   integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
   crossorigin=""></script>
   

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.0/MarkerCluster.css"/>   
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.0/MarkerCluster.Default.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.0/leaflet.markercluster.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw-src.js"></script>

   
<%= stylesheet_link_tag "application", media: "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>

<!-- Override Bootstrap 5 table styles for searchheader turquoise background -->
<style>
  .searchheader,
  .searchheader tr,
  .searchheader tr th,
  .searchheader tr td,
  .table .searchheader,
  .table .searchheader tr,
  .table .searchheader tr th,
  .table .searchheader tr td,
  .table-striped .searchheader,
  .table-striped .searchheader tr,
  .table-striped .searchheader tr th,
  .table-striped .searchheader tr td {
    background-color: #d7fef8 !important;
    --bs-table-bg: #d7fef8 !important;
    --bs-table-striped-bg: #d7fef8 !important;
    --bs-table-accent-bg: #d7fef8 !important;
  }
  
  /* Fix toolbar button sizes in show pages (Bootstrap 5 buttons are larger than Bootstrap 3) */
  #show-tools .btn-group-sm .btn,
  .tool-selector .btn-group-sm .btn {
    padding: 0.25rem 0.4rem !important;
    font-size: 0.75rem !important;
    line-height: 1.2 !important;
  }
  
  /* Ensure icons inside small buttons are also appropriately sized */
  #show-tools .btn-group-sm .btn .bi,
  .tool-selector .btn-group-sm .btn .bi {
    font-size: 0.875rem !important;
    vertical-align: middle !important;
  }
</style>
