<div class="modal-header alert">
  <h4 class="modal-title" id="notification-modal-label">
    <%= (params[:action] == "index") ? "search" : params[:action] %>
  </h4>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <%= yield %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
</div>
